##**Importação:**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/xAPI-Edu-Data.csv', sep=',')

##**Padronização das variaveis:**

In [ ]:
#conferindo as colunas
df.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [ ]:
#Coluna teste
df.Relation

0      Father
1      Father
2      Father
3      Father
4      Father
        ...
475    Father
476    Father
477    Father
478    Father
479    Father
Name: Relation, Length: 480, dtype: object

In [ ]:
#tornando as variaveis categoricas como maiusulas e padronizando
df.Topic = [x.upper() for x in df.Topic]
df.NationalITy  = [x.upper() for x in df. NationalITy]
df.PlaceofBirth = [x.upper() for x in df.PlaceofBirth]
df.StageID = [x.upper() for x in df.StageID]
df.GradeID = [x.upper() for x in df.GradeID ]
df.Relation = [x.upper() for x in df.Relation]
df.ParentAnsweringSurvey = [x.upper() for x in df.ParentAnsweringSurvey]
df.ParentschoolSatisfaction = [x.upper() for x in df.ParentschoolSatisfaction]
df.StudentAbsenceDays = [x.upper() for x in df.StudentAbsenceDays]
df.Class = [x.upper() for x in df.Class]

In [ ]:
#coluna relation depois de padronizada
df.Relation

0      FATHER
1      FATHER
2      FATHER
3      FATHER
4      FATHER
        ...
475    FATHER
476    FATHER
477    FATHER
478    FATHER
479    FATHER
Name: Relation, Length: 480, dtype: object

##**Corrigindo os dados:**

In [ ]:
df.Semester.value_counts()

F    245
S    235
Name: Semester, dtype: int64

In [ ]:
#fazendo a substituição das letras pela palavra
df.Semester.replace('F', 'FIRST', inplace= True)
df.Semester.replace('S', 'SECOND', inplace= True)

In [ ]:
df.Semester.value_counts()

FIRST     245
SECOND    235
Name: Semester, dtype: int64

In [ ]:
#contando as categorias
df.gender.value_counts()

M    305
F    175
Name: gender, dtype: int64

In [ ]:
#substituindo as letras pelo nome completo
df.gender.replace('M', 'MAN', inplace=True)
df.gender.replace('F', 'WOMAN', inplace = True)

In [ ]:
#conferindo os dados
df.gender.value_counts()

MAN      305
WOMAN    175
Name: gender, dtype: int64

In [ ]:
df.NationalITy.replace('KW', 'KUWAIT', inplace= True)
df.NationalITy.replace('USA', 'UNITED STATES', inplace= True)

In [ ]:
df.NationalITy.value_counts()

KUWAIT           179
JORDAN           172
PALESTINE         28
IRAQ              22
LEBANON           17
TUNIS             12
SAUDIARABIA       11
EGYPT              9
SYRIA              7
UNITED STATES      6
IRAN               6
LYBIA              6
MOROCCO            4
VENZUELA           1
Name: NationalITy, dtype: int64

In [ ]:
df.PlaceofBirth.value_counts()

KUWAIT         180
JORDAN         176
IRAQ            22
LEBANON         19
SAUDIARABIA     16
USA             16
PALESTINE       10
EGYPT            9
TUNIS            9
IRAN             6
SYRIA            6
LYBIA            6
MOROCCO          4
VENZUELA         1
Name: PlaceofBirth, dtype: int64

In [ ]:
df.PlaceofBirth.replace('USA', 'UNITED STATES', inplace= True)

In [ ]:
df.PlaceofBirth.value_counts()

KUWAIT           180
JORDAN           176
IRAQ              22
LEBANON           19
SAUDIARABIA       16
UNITED STATES     16
PALESTINE         10
EGYPT              9
TUNIS              9
IRAN               6
SYRIA              6
LYBIA              6
MOROCCO            4
VENZUELA           1
Name: PlaceofBirth, dtype: int64

In [ ]:
df.Class.value_counts()

M    211
H    142
L    127
Name: Class, dtype: int64

In [ ]:
df.Class.replace('M', 'MIDDLE-LEVEL', inplace=True)
df.Class.replace('H', 'HIGH-LEVEL', inplace=True)
df.Class.replace('L', 'LOW-LEVEL', inplace=True)

In [ ]:
df.Class.value_counts()

MIDDLE-LEVEL    211
HIGH-LEVEL      142
LOW-LEVEL       127
Name: Class, dtype: int64

Todas as colunas numéricas estavam padronizadas. Todas as colunas categóricas foram ajustadas para a letra maiuscula.
As colunas cujo haviam abrevições foram modificadas.

In [ ]:
#salvando o dataset
df.to_csv('dados_processed.csv', index=False, sep=';')